{% extends 'base.html' %}
{% load static %}

{% block title %} Forms {% endblock title %}


{% block content %}


<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5>SCRIPTING</h5>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="script pb-4" id="q1">
                                <h5>Question 1</h5>
                                <div class="form-group">
                                    <div class="form-check col">
                                        <p>
                                            Bonjour, c'est Mr/Mme <strong>{{ user.first_name | upper}} </strong> de Advans.
                                            Nous souhaiterions parler avec Mr/Mme X
                                        </p>
                                        <div class="pl-4">
                                           <!-- <input type="checkbox" name="questons1" name="questons1" class="form-check-input" value="">  -->
                                            <label class="radio-inline mr-3">
                                                <input type="radio" id="questons1OUI" name="questons1"> OUI
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" id="questons1NON" name="questons1"> NON
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="questons1" > Par defaut
                                            </label>
                                        </div>
                                    </div>
                                </div>

                               
                                
                            </div>
                            <div class="script pb-4" id="q2" >
                                <h5>Q 2</h5>
                            </div>
                            <div class="script pb-4" id="q3">
                                <h5>Q 3</h5>
                            </div>
                            <div class="script pb-4" id="q4">
                                <h5>Q 4</h5>
                            </div>
                            <div class="script pb-4" id="q5">
                                <h5>Q 5</h5>
                            </div>
                            <div class="script pb-4" id="q6">
                                <h5>Q 6</h5>
                            </div>
                            <div class="script pb-4" id="q7">
                                <h5>Q 7</h5>
                            </div>
                            <div class="script pb-4" id="q8">
                                <h5>Q 8</h5>
                            </div>
                            <div class="script pb-4" id="q9">
                                <h5>Q 9</h5>
                            </div>
                            <div class="script pb-4" id="q10">
                                <h5>Q 10</h5>
                            </div>
                            <div class="script pb-4" id="q11">
                                <h5>Q 11</h5>
                            </div>
                            <div class="script pb-4" id="q12">
                                <h5>Q 12</h5>
                            </div>
                            <div class="script pb-4" id="q13">
                                <h5>Q 13</h5>
                            </div>
                            <div class="script pb-4" id="q14">
                                <h5>Q 14</h5>
                            </div>
                            <div class="script pb-4" id="q15">
                                <h5>Q 15</h5>
                            </div>
                            <div class="script pb-4" id="q16">
                                <h5>Q 16</h5>
                            </div>
                            <div class="script pb-4" id="q17">
                                <h5>Q 17</h5>
                            </div>
                            <div class="script pb-4" id="q18">
                                <h5>Q 18</h5>
                            </div>
                            <div class="script pb-4" id="q19">
                                <h5>Q 19</h5>
                                <div class="form-group row">
                                    <p>
                                        Très bien, pouvez-vous m'indiquer dans combien de mois je peux vous contacter
                                    </p>
                                </div>
                            </div>
                            <div class="script pb-4" id="q20">
                                <h5>Q 20</h5>
                                <p class="alert alert-success">
                                    GOODBYE:
                                    Merci d’avoir pris le temps de nous répondre. Advans vous dit à bientôt et Bonne fin de journée.
                                </p>
                            </div>
                            <div class="script pb-4" id="q21">
                                <h5>Q 21</h5>
                                <div class="form-row">
                                    <div class="form-group form-default">
                                        <label class="col col-form-label">Statut</label>
                                        {{form.Statut}}
                                    </div>
                                </div>
                            </div>



                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page body end -->
    </div>
</div>
<!-- Main-body end -->
<div id="styleSelector"></div>



<script src="{% static 'js/jquery.js' %}"></script>

<script type="text/javascript">
    $(function () {
        $('#q2').hide();
        // $('#btnerp').hide();

        $('#questons1OUI').on('click', function () {

            $('#q2').show();
            // $('#btnerp').hide();
        });

        // $('#questons1NON').on('click', function () {

        //     $('#btngoogle').hide();
        //     $('#btnerp').show();
        // });

    });

    // $(document).ready(function () {
    //     $("input[name=questons1]").change(function () {

    //         if ($("#questons1OUI").is(':checked')) {
    //             $("#q2").show();
    //             // $("#btnerp").hide();
    //         } else if ($("#questons1NON").is(':checked')) {
    //             $("#q2").hide();
    //             // $("btnerp").show();
    //         }
    //     });
    // });

    $(function () {
        $("#question1").click(function () {
            if ($(this).is(":checked")) {
                $("#q1").show();
                // $("#q4").hide();
            } else {
                $("#q1").hide();
                // $("#q4").show();
            }
        });
    });

    $(document).ready(function () {
        $('#question2').change(function () {
            if ($(this).prop('checked')) {
                $('#q2').show();
            } else {
                $('#q2').hide();
            }
        });
    });


</script>

{% endblock content %}