{% extends 'base.html' %}
{% load static %}

{% block title %} Contacts {% endblock title %}


{% block content %}

<!-- Page-header start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Contacts</h5>
                    <p class="m-b-0">Liste des contacts </p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard:dashboard' %}"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">CONTACTS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                {% include 'notifications/_alerts.html' %}
                <div class="row d-flex justify-content-end mb-4">
                    
                    <button type="button" class="btn btn-primary">
                        <a href="{% url 'contacts:upload_contact_csv' %}" style="color: aliceblue;font-weight: 700;">Upload file</a>
                    </button>
                    <div class="dropdown ml-2">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            REPORTING
                        </a>
                
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'contacts:export_contact_xls' %}">Excel</a>
                            <a class="dropdown-item" href="{% url 'contacts:export_contact_csv' %}">CSV</a>
                            <a class="dropdown-item" href="{% url 'contacts:export_contact_pdf' %}">PDF</a>
                            <a class="dropdown-item" href="#!">JSON</a>
                        </div>
                    </div>
                </div>
                <!-- Hover table card start -->
                <div class="card">
                    <div class="card-header">
                        <h5>LISTE CONTACTS</h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Post_Nom</th>
                                        <th>Prénom</th>
                                        <th>N°</th>
                                        <th>Rue</th>
                                        <th>Quartier</th>
                                        <th>Commune</th>
                                        <th>Ville</th>
                                        <th>Province</th>
                                        <!-- <th>Pays</th> -->
                                        <th>Téléphone_1</th>
                                        <th>Téléphone_2</th>
                                        <th>Téléphone_3</th>
                                        <th>Email</th>
                                        <th>Site_Web</th>
                                        <th>Facebook</th>
                                        <th>Instagram</th>
                                        <th>Twitter</th>
                                        <th>LinkedIn</th>
                                        <th>Remarques</th>
                                        <th>Date_de_creation</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <form method="POST" id="post-form">
                                        {% csrf_token %}
                                        <tr>
                                            <td scope="row">
                                                {{form.Nom}}
                                            </td>
                                            <td>
                                                {{form.Post_Nom}}
                                            </td>
                                            <td>
                                                {{form.Prenom}}
                                            </td>
                                            <td>
                                                {{form.Numero}}
                                            </td>
                                            <td>
                                                {{form.Rue}}
                                            </td>
                                            <td>
                                                {{form.Quartier}}
                                            </td>
                                            <td>
                                                {{form.Commune}}
                                            </td>
                                            <td>
                                                {{form.Ville}}
                                            </td>
                                            <td>
                                                {{form.Province}}
                                            </td>
                                            <td>
                                                {{form.Tel1}}
                                            </td>
                                            <td>
                                                {{form.Tel2}}
                                            </td>
                                            <td>
                                                {{form.Tel3}}
                                            </td>
                                            <td>
                                                {{form.Email}}
                                            </td>
                                            <td>
                                                {{form.Website}}
                                            </td>
                                            <td>
                                                {{form.Facebook}}
                                            </td>
                                            <td>
                                                {{form.Instagram}}
                                            </td>
                                            <td>
                                                {{form.Twitter}}
                                            </td>
                                            <td>
                                                {{form.LinkedIn}}
                                            </td>
                                            <td>
                                                {{form.Remarque}}
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-primary">Soumettre</button>
                                            </td>
                                        </tr>
                                    </form>

                                    {% for contact in contact_list %}
                                    <tr>
                                        <td scope="row">{{contact.Nom}}</td>
                                        <td style="width: 150px;">{{contact.Post_Nom}}</td>
                                        <td style="width: 150px;">{{contact.Prenom}}</td>
                                        <td style="width: 150px;">{{contact.Numero}}</td>
                                        <td style="width: 150px;">{{contact.Rue}}</td>
                                        <td style="width: 150px;">{{contact.Quartier}}</td>
                                        <td style="width: 150px;">{{contact.Commune}}</td>
                                        <td style="width: 150px;">{{contact.Ville}}</td>
                                        <td style="width: 150px;">{{contact.Province}}</td>
                                        <td>{{contact.Tel1}}</td>
                                        <td>{{contact.Tel2}}</td>
                                        <td>{{contact.Tel3}}</td>
                                        <td>{{contact.Email}}</td>
                                        <td>{{contact.Website}}</td>
                                        <td>{{contact.Facebook}}</td>
                                        <td>{{contact.Instagram}}</td>
                                        <td>{{contact.Twitter}}</td>
                                        <td>{{contact.LinkedIn}}</td>
                                        <td>{{contact.Remarque}}</td>
                                        <td>{{contact.created_date}}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-start">
                            <p>Total contacts: <b>{{contact_count}}</b>  </p>
                        </div>
                        
                        <nav class="mb-50">
                            {% if contact_list.has_other_pages %}
                            <ul class="pagination justify-content-center">
                                {% if contact_list.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ contact_list.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                {% endif %}
                                {% for i in contact_list.paginator.page_range %}
                                {% if contact_list.number == i %}
                                <li class="page-item active">
                                    <span class="page-link">
                                        {{ i }}
                                        <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if contact_list.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ contact_list.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <!-- Hover table card end -->
            </div>
            <!-- Page-body end -->
        </div>
    </div>
    <!-- Main-body end -->

    <div id="styleSelector"></div>
</div>


<div id="styleSelector"> </div>
</div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
{% include 'pages/forms/contact_js.html' %}

{% endblock content %}