{% extends 'base.html' %}
{% load static %}

{% block title %} Contacts {% endblock title %}


{% block content %}

<!-- Page-header start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Contacts</h5>
                    <p class="m-b-0">Liste des contacts </p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard:dashboard' %}"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">CONTACTS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                
                <!-- Hover table card start -->
                <div class="card">
                    <div class="card-header">
                        <h5>LISTE DES CONTACTS </h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Post_Nom</th>
                                        <th>Prénom</th>
                                        <th>N°</th>
                                        <th>Rue</th>
                                        <th>Quartier</th>
                                        <th>Commune</th>
                                        <th>Ville</th>
                                        <th>Province</th>
                                        <!-- <th>Pays</th> -->
                                        <th>Téléphone_1</th>
                                        <th>Téléphone_2</th>
                                        <th>Téléphone_3</th>
                                        <th>Email</th>
                                        <th>Site_Web</th>
                                        <th>Facebook</th>
                                        <th>Instagram</th>
                                        <th>Twitter</th>
                                        <th>LinkedIn</th>
                                        <th>Remarques</th>
                                        <th>Date_de_creation</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for contact in contact_list %}
                                    <tr>
                                        <td scope="row">{{contact.Nom}}</td>
                                        <td style="width: 150px;">{{contact.Post_Nom}}</td>
                                        <td style="width: 150px;">{{contact.Prenom}}</td>
                                        <td style="width: 150px;">{{contact.Numero}}</td>
                                        <td style="width: 150px;">{{contact.Rue}}</td>
                                        <td style="width: 150px;">{{contact.Quartier}}</td>
                                        <td style="width: 150px;">{{contact.Commune}}</td>
                                        <td style="width: 150px;">{{contact.Ville}}</td>
                                        <td style="width: 150px;">{{contact.Province}}</td>
                                        <td>{{contact.phonenumber}}</td>
                                        <td>{{contact.Tel2}}</td>
                                        <td>{{contact.Tel3}}</td>
                                        <td>{{contact.Email}}</td>
                                        <td>{{contact.Website}}</td>
                                        <td>{{contact.Facebook}}</td>
                                        <td>{{contact.Instagram}}</td>
                                        <td>{{contact.Twitter}}</td>
                                        <td>{{contact.LinkedIn}}</td>
                                        <td>{{contact.Remarque}}</td>
                                        <td>{{contact.created_date}}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <!-- Pagination -->
                        <nav class="mb-50">
                            <ul class="pagination justify-content-center">
                                {% if contact_list.has_previous %}
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                                </li>
                                {% endif %}
                                <span class="current">
                                    <li class="page-item"><a class="page-link" href="#">{{ contact_list.number }}</a>
                                    </li>
                                </span>
                                {% if contact_list.has_next %}
                                <li class="page-item"><a class="page-link" href="#"><i
                                            class="fa fa-angle-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Hover table card end -->
            </div>
            <!-- Page-body end -->
        </div>
    </div>
    <!-- Main-body end -->

    <div id="styleSelector"></div>
</div>


<div id="styleSelector"> </div>
</div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
{% include 'pages/forms/contact_js.html' %}

{% endblock content %}