{% extends 'base.html' %}
{% load static %}

{% block title %} Chargez un fichier de type CSV {% endblock title %}


{% block content %}

<!-- Page-header start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Contacts</h5>
                    <p class="m-b-0">Chargez un fichier de type CSV</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard:dashboard' %}"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'contacts:contact_view' %}">CONTACTS</a></li>
                    <li class="breadcrumb-item"><a href="#!">CSV</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                {% include 'notifications/_alerts.html' %}
                <!-- Hover table card start -->
                <div class="card">
                    <div class="card-header">
                        <h5>Contacts Upload file</h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <form action="{% url 'contacts:upload_contact_csv' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="input-group input-group-lg">
                                            <div class="custom-file">
                                                <input type="file" class="form-control custom-file-input file" name="csv_file" id="input01">
                                                <label class="custom-file-label" id="fileLabel" for="input01">Selectionnez votre fichier  .csv</label>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="col-md-6">
                                        <div class="input-group input-group-lg">
                                            <div class="custom-file">
                                                <button class="btn btn-primary btn-block" id="submitBtn" disabled type="submit">Upload
                                                    &nbsp;&nbsp;&nbsp;<span></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Hover table card end -->
            </div>
            <!-- Page-body end -->
        </div>
    </div>
    <!-- Main-body end -->

    <div id="styleSelector"></div>
</div>



{% endblock content %}