<script type="text/javascript">
    $(document).ready(function () {
        $('#outbound').hide();
        $('#inbound').hide();
        // Traffic Bound
        $("input[name=bound]").change(function () {
            if ($("#OUTBOUND").is(':checked')) {
                $('#outbound').show();
                $('#inbound').hide();
            } else if ($("#INBOUND").is(':checked')) {
                $('#outbound').hide();
                $('#inbound').show();
            }
        });
    }); 


    $(document).ready(function () {
        $('#q2').hide();
        $('#q2a').hide();
        $('#q3').hide();
        $('#q4').hide();
        $('#q5').hide();
        $('#q6').hide();

        // Traffic OUTBOUND
        $("input[name='questions1']").click(function () {
            if ($('input:radio[qs=q1OUI]').is(':checked')) {
                $('#q2').show();
            } else if ($('input:radio[qs=q1NON]').is(':checked')) {
                $('#q2').hide();
                $('#q2a').hide();
                $('#q3').hide();
                $('#q6').show();
            }
        });

        $("input[name='questions2']").click(function () {
            if ($('input:radio[qs=q2OUI]').is(':checked')) {
                $('#q2a').show();
                $('#q3').show();
                $('#q6').show();
            } else if ($('input:radio[qs=q2NON]').is(':checked')) {
                $('#q2a').hide();
                $('#q3').hide();
                $('#q6').show();
            }
        });

        $("input[name='questions3']").click(function () {
            if ($('input:radio[qs=q3OUI]').is(':checked')) {
                $('#q4').show();
                $('#q5').show();
                $('#q6').show();
            } else if ($('input:radio[qs=q2NON]').is(':checked')) {
                $('#q4').hide();
                $('#q5').hide();
                $('#q6').show();
            }
        });
    });

    $(document).ready(function () {
        $('#qin2').hide();
        $('#qin2a').hide();
        $('#qin3').hide();
        $('#qin4').hide();
        $('#qin5').hide();
        $('#qin6').hide();

        // Traffic OUTBOUND
        $("input[name='questions1']").click(function () {
            if ($('input:radio[qs=q1inOUI]').is(':checked')) {
                $('#qin2').show();
            } else if ($('input:radio[qs=q1inNON]').is(':checked')) {
                $('#qin2').hide();
                $('#qin2a').hide();
                $('#qin3').hide();
                $('#qin6').show();
            }
        });

        $("input[name='questions2']").click(function () {
            if ($('input:radio[qs=q2inOUI]').is(':checked')) {
                $('#qin2a').hide();
                $('#qin3').hide();
                $('#qin4').show();
                $('#qin5').show();
                $('#qin6').show();
            } else if ($('input:radio[qs=q2inNON]').is(':checked')) {
                $('#qin2a').hide();
                $('#qin3').hide();
                $('#qin4').hide();
                $('#qin5').hide();
                $('#qin6').show();
            }
        });

        // $("input[name='questions3']").click(function () {
        //     if ($('input:radio[qs=q3OUI]').is(':checked')) {
        //         $('#q4').show();
        //         $('#q5').show();
        //         $('#q6').show();
        //     } else if ($('input:radio[qs=q2NON]').is(':checked')) {
        //         $('#q4').hide();
        //         $('#q5').hide();
        //         $('#q6').show();
        //     }
        // });
    });



    // Get DOM Elements
    const modal = document.querySelector('#my-modal');
    const modalBtn = document.querySelector('#modal-btn');
    const closeBtn = document.querySelector('#close');

    // Events
    modalBtn.addEventListener('click', openModal);
    closeBtn.addEventListener('click', closeModal);
    window.addEventListener('click', outsideClick);

    // Open
    function openModal() {
        modal.style.display = 'block';
    }

    // Close
    function closeModal() {
        modal.style.display = 'none';
    }

    // Close If Outside Click
    function outsideClick(e) {
        if (e.target == modal) {
            modal.style.display = 'none';
        }
    }



    $(document).ready(function () {
        $('#contact-form').submit(function (e) {
            e.preventDefault();
            var formData = {
                'Nom': $('#Nom').val(),
                'Post_Nom': $('#Post_Nom').val(),
                'Prenom': $('#Prenom').val(),
                'Numero': $('#Numero').val(),
                'Rue': $('#Rue').val(),
                'Quartier': $('#Quartier').val(),
                'Commune': $('#Commune').val(),
                'Ville': $('#Ville').val(),
                'Province': $('#Province').val(),
                'phonenumber': $('#phonenumber').val(),
                'Tel2': $('#Tel2').val(),
                'Tel3': $('#Tel3').val(),
                'Email': $('#Email').val(),
                'Website': $('#Website').val(),
                'Facebook': $('#Facebook').val(),
                'Instagram': $('#Instagram').val(),
                'Twitter': $('#Twitter').val(),
                'LinkedIn': $('#LinkedIn').val(),
                'Remarque': $('#Remarque').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                contentType: 'application/x-www-form-urlencoded',
                encode: true,
            };
            $.ajax({
                type: 'POST',
                url: "{% url 'compte_dormant:compte_dormant_add' %}",
                data: formData,
                dataType: 'json',
            }).done(function (data) {
                console.log(formData);
                $("#contact-form").trigger("reset");
                console.log(data);

            });
            // e.preventDefault();
        });


    });


    const kycContact = document.querySelector('#kycContact');

    setInterval(() => {
        this.kycContact;
    }, 1000);


    ref = setInterval(1000)

    $("#inputState").change(function () {
        var interval = parseFloat($(this).val()) * 60 * 1000;
        clearInterval(ref);
        console.log("New Interval: " + interval);
        if (interval > 0) {
            ref = setInterval(interval)
        }
    });


    function showDashboard() {
        console.log(Math.random());
    }


</script>