
{% load static %}

<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- waves js -->
<script type="text/javascript" src="{% static 'pages/waves/js/waves.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" type="text/javascript" src="{% static 'js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

<!-- slimscroll js -->
<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<!-- datetimepicker.js -->
<!-- <script type="text/javascript" src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'js/form-pickers-init.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.js' %}"></script>

<!-- menu js -->
<script type="text/javascript" src="{% static 'js/pcoded.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vertical/vertical-layout.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
