
<script type="text/javascript">

    $(document).ready(function () {
        // French
        $('#q2').hide();
        $('#q3').hide();
        $('#q4').hide();
        $('#q5').hide();
        $('#q6').hide();
        $('#q7').hide();
        $('#q8').hide();
        $('#q9').hide();
        $('#q10').hide();
        $('#q11').hide();
        $('#q12').hide();
        $('#q13').hide();
        $('#q14').hide();
        $('#q15').hide();
        $('#q16').hide();
        $('#q17').hide();
        $('#q18').hide();
        $('#q19').hide();
        $('#q20').hide();
        $('#q21').hide();


        $("input[name=questions1]").change(function () {

            if ($("#questions1OUI").is(':checked')) {
                $("#q2").show();
                $("#q21").hide();
            } else if ($("#questions1NON").is(':checked')) {
                $("#q2").hide();
                $("#q21").show();
            } else if ($("#reset").is(':checked')) {
                $("#q2").hide();
                $("#q21").hide();
                $('#q3').hide();
                $('#q4').hide();
                $('#q5').hide();
                $('#q6').hide();
                $('#q7').hide();
                $('#q8').hide();
                $('#q9').hide();
                $('#q10').hide();
                $('#q11').hide();
                $('#q12').hide();
                $('#q13').hide();
                $('#q14').hide();
                $('#q15').hide();
                $('#q16').hide();
                $('#q17').hide();
                $('#q18').hide();
                $('#q19').hide();
                $('#q20').hide();
                $('#q21').hide();
            }
        });

        $("input[name=questions2]").change(function () {

            if ($("#questions2OUI").is(':checked')) {
                $("#q3").show();
                $("#q21").hide();
                $("#q10").hide();
                $("#q19").hide();
                $("#q11").hide();
                $("#q12").hide();
                $("#q13").hide();

            } else if ($("#questions2OUIAPRES").is(':checked')) {
                $("#q3").hide();
                $("#q19").show();
                $("#q21").show();
                $("#q10").hide();
                $("#q11").hide();
                $("#q12").hide();
                $("#q13").hide();

            } else if ($("#questions2NON").is(':checked')) {
                $("#q3").hide();
                $("#q4").hide();
                $("#q5").hide();
                $("#q6").hide();
                $("#q7").hide();
                $("#q8").hide();
                $("#q9").hide();
                $("#q10").show();
                $("#q11").show();
                $("#q12").show();
                $("#q13").show();
                $("#q21").hide();
                $("#q19").hide();

            }
        });

        $("input[name=questions3]").change(function () {

            if ($("#questions3OUI").is(':checked')) {
                $("#q4").show();
                $("#q21").hide();
                $("#q10").hide();
                $("#q19").hide();
                $('#q5').show();

            } else if ($("#questions3NON").is(':checked')) {
                $("#q4").hide();
                $("#q19").show();
                $("#q21").show();
                $('#q5').hide();
            }
        });

        $("input[name=questions5]").change(function () {

            if ($("#questions5OUI").is(':checked')) {
                $("#q7").show();
                $("#q6").hide();
                $("#q9").show();

            } else if ($("#questions5NON").is(':checked')) {
                $("#q7").hide();
                $("#q6").show();
                $("#q8").hide();
                $("#q9").show();
                $("#q21").show();
            }
        });

        $("input[name=questions7]").change(function () {

            if ($("#questions7OUI").is(':checked')) {
                $("#q8").show();
                $("#q9").show();
                $("#q21").show();

            } else if ($("#questions7NON").is(':checked')) {
                $("#q8").hide();
                $("#q9").show();
                $("#q21").show();
            }
        });

        $("input[name=questions13]").change(function () {

            if ($("#questions13OUI").is(':checked')) {
                $("#q14").show();
                $("#q15").show();
                $("#q16").show();
                $("#q17").show();
                $("#q18").show();
                $("#q19").show();
                $("#q20").show();
                $("#q21").show();

            } else if ($("#questions13NON").is(':checked')) {
                $("#q14").hide();
                $("#q15").show();
                $("#q16").show();
                $("#q17").show();
                $("#q18").show();
                $("#q19").show();
                $("#q20").show();
                $("#q21").show();
            }
        });
    });
        
 


        

    
        // Get DOM Elements
        const modal = document.querySelector('#my-modal');
        const modalBtn = document.querySelector('#modal-btn');
        const closeBtn = document.querySelector('#close');

        // Events
        modalBtn.addEventListener('click', openModal);
        closeBtn.addEventListener('click', closeModal);
        window.addEventListener('click', outsideClick);

        // Open
        function openModal() {
            modal.style.display = 'block';
        }

        // Close
        function closeModal() {
            modal.style.display = 'none';
        }

        // Close If Outside Click
        function outsideClick(e) {
            if (e.target == modal) {
                modal.style.display = 'none';
            }
        }



        $(document).ready(function () {
            $('#contact-form').submit(function (e) {
                e.preventDefault();
                var formData = {
                    'Nom': $('#Nom').val(),
                    'Post_Nom': $('#Post_Nom').val(),
                    'Prenom': $('#Prenom').val(),
                    'Numero': $('#Numero').val(),
                    'Rue': $('#Rue').val(),
                    'Quartier': $('#Quartier').val(),
                    'Commune': $('#Commune').val(),
                    'Ville': $('#Ville').val(),
                    'Province': $('#Province').val(),
                    'phonenumber': $('#phonenumber').val(),
                    'Tel2': $('#Tel2').val(),
                    'Tel3': $('#Tel3').val(),
                    'Email': $('#Email').val(),
                    'Website': $('#Website').val(),
                    'Facebook': $('#Facebook').val(),
                    'Instagram': $('#Instagram').val(),
                    'Twitter': $('#Twitter').val(),
                    'LinkedIn': $('#LinkedIn').val(),
                    'Remarque': $('#Remarque').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    contentType: 'application/x-www-form-urlencoded',
                    encode: true,
                };
                $.ajax({
                    type: 'POST',
                    url: "{% url 'renouvellement:renouvellement_add' %}",
                    data: formData,
                    dataType: 'json',
                }).done(function (data) {
                    // console.log(formData);
                    $("#contact-form").trigger("reset");
                    // console.log(data)


                    $('#kycContact').each(function () {
                        setTimeout(10000);
                    });
                });



                // e.preventDefault();
            });
        });



    // function refresh() {
    //     $.ajax({
    //         url: "{% url 'dat:dat_add' %}",
    //         success: function (data) {
    //             $('#kycContact').html(data);
    //             setTimeout(refresh, 10000);
    //         }

    //     });
    // }


</script>