{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}


{% block content %}

    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Tableau de bord Admin</h5>
                        <p class="m-b-0">Bienvenue sur le Tableau de bord</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'dashboard:dashboard' %}"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="row">
                    <!-- Material statustic card start -->
                    <div class="col-xl-4 col-md-12">
                        <div class="card mat-stat-card">
                            <div class="card-block">
                                <div class="row align-items-center b-b-default">
                                    <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                                        <div class="row align-items-center text-center">
                                            <div class="col-4 p-r-0">
                                                <i class="bi bi-telephone-inbound text-c-green f-24"></i>
                                            </div>
                                            <div class="col-8 p-l-0">
                                                <h5>{{cdr_answered}}</h5>
                                                <p class="text-muted m-b-0">Appels effectués</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-b-20 p-t-20">
                                        <div class="row align-items-center text-center">
                                            <div class="col-4 p-r-0">
                                                <i class="bi bi-telephone-outbound text-c-purple f-24"></i>
                                            </div>
                                            <div class="col-8 p-l-0">
                                                <h5>{{cdr_no_answer}}</h5>
                                                <p class="text-muted m-b-0">Appels occupés</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                                        <div class="row align-items-center text-center">
                                            <div class="col-4 p-r-0">
                                                <i class="bi bi-telephone-x text-c-red f-24"></i>
                                            </div>
                                            <div class="col-8 p-l-0">
                                                <h5>0</h5>
                                                <p class="text-muted m-b-0">Appels échoués</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-b-20 p-t-20">
                                        <div class="row align-items-center text-center">
                                            <div class="col-4 p-r-0">
                                                <i class="bi bi-telephone-plus text-c-blue f-24"></i>
                                            </div>
                                            <div class="col-8 p-l-0">
                                                <h5>{{cdr_total}}</h5>
                                                <p class="text-muted m-b-0">Totals d'appels</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="card mat-stat-card">
                            <div class="card-block">
                                <div class="row align-items-center b-b-default">
                                    <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                                        <div class="row align-items-center text-center">
                                            <div class="col-4 p-r-0">
                                                <i class="bi bi-people-fill text-c-green f-24"></i>
                                            </div>
                                            <div class="col-8 p-l-0">
                                                <h5>0</h5>
                                                <p class="text-muted m-b-0">Agents Online</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-b-20 p-t-20">
                                        <div class="row align-items-center text-center">
                                            <div class="col-4 p-r-0">
                                                <i class="bi bi-people-fill text-c-purple f-24"></i>
                                            </div>
                                            <div class="col-8 p-l-0">
                                                <h5>{{ user_list }}</h5>
                                                <p class="text-muted m-b-0">Total Agents</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                                        <div class="row align-items-center text-center">
                                            <div class="col-4 p-r-0">
                                                <i class="bi bi-hourglass-split text-c-red f-24"></i>
                                            </div>
                                            <div class="col-8 p-l-0">
                                                <h5>0</h5>
                                                <p class="text-muted m-b-0">File d'attente</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-b-20 p-t-20">
                                        <div class="row align-items-center text-center">
                                            <div class="col-4 p-r-0">
                                                <i class="bi bi-stopwatch-fill text-c-blue f-24"></i>
                                            </div>
                                            <div class="col-8 p-l-0">
                                                {% for cdr in cdr_duration %}
                                                    <h5>{{cdr.billsec_norm}}</h5>
                                                {% empty %}
                                                    <h5>0</h5>
                                                {% endfor %}
                                                <p class="text-muted m-b-0">Durée du dernier appel</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="card mat-clr-stat-card text-white green ">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-3 text-center bg-c-green">
                                        <i class="bi bi-stickies-fill mat-icon f-24"></i>
                                    </div>
                                    <div class="col-9 cst-cont">
                                        <h5>{{note_nbr}}</h5>
                                        <p class="m-b-0">Notes rapides</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mat-clr-stat-card text-white blue">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-3 text-center bg-c-blue">
                                        <i class="bi bi-calendar3 mat-icon f-24"></i>
                                    </div>
                                    <div class="col-9 cst-cont">
                                        <h5>0</h5>
                                        <p class="m-b-0">Agendas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Material statustic card end -->
                    <!-- order-visitor start -->

                    <div class="col-xl-12 col-md-12">
                        
                        <div class="card table-card">
                            <div class="card-header">
                                <h5>STATUT SCRIPTING</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-trash close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table table-hover m-b-0 without-header">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="font-weight: 900;">STATUT</th>
                                                <th scope="col" style="font-weight: 900;">ACQUISITION</th>
                                                <th scope="col" style="font-weight: 900;">COMMERCIALE-PROMOTION</th>
                                                <th scope="col" style="font-weight: 900;">DAT</th>
                                                <th scope="col" style="font-weight: 900;">RECOUVREMENT</th>
                                                <th scope="col" style="font-weight: 900;">RENOUVELLEMENT CREDIT 2</th>
                                                <th scope="col" style="font-weight: 900;">COMPTE DORMANT</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Statuts de reporting</td>
                                                    <td>{{acquisition_1}}</td>
                                                    <td>{{commprom_1}}</td>
                                                    <td>{{dat_1}}</td>
                                                    <td>{{recouvrement_1}}</td>
                                                    <td>{{renouvellement_1}}</td>
                                                    <td>{{compte_dormant__1}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Accord</td>
                                                    <td>{{acquisition_2}}</td>
                                                    <td>{{commprom_2}}</td>
                                                    <td>{{dat_2}}</td>
                                                    <td>{{recouvrement_2}}</td>
                                                    <td>{{renouvellement_2}}</td>
                                                    <td>{{compte_dormant__2}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Déjà payé son crédit</td>
                                                    <td>{{acquisition_3}}</td>
                                                    <td>{{commprom_3}}</td>
                                                    <td>{{dat_3}}</td>
                                                    <td>{{recouvrement_3}}</td>
                                                    <td>{{renouvellement_3}}</td>
                                                    <td>{{compte_dormant__3}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Refus</td>
                                                    <td>{{acquisition_4}}</td>
                                                    <td>{{commprom_4}}</td>
                                                    <td>{{dat_4}}</td>
                                                    <td>{{recouvrement_4}}</td>
                                                    <td>{{renouvellement_4}}</td>
                                                    <td>{{compte_dormant__4}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Rappel</td>
                                                    <td>{{acquisition_5}}</td>
                                                    <td>{{commprom_5}}</td>
                                                    <td>{{dat_5}}</td>
                                                    <td>{{recouvrement_5}}</td>
                                                    <td>{{renouvellement_5}}</td>
                                                    <td>{{compte_dormant__5}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Injoignable</td>
                                                    <td>{{acquisition_6}}</td>
                                                    <td>{{commprom_6}}</td>
                                                    <td>{{dat_6}}</td>
                                                    <td>{{recouvrement_6}}</td>
                                                    <td>{{renouvellement_6}}</td>
                                                    <td>{{compte_dormant__6}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Absent</td>
                                                    <td>{{acquisition_7}}</td>
                                                    <td>{{commprom_7}}</td>
                                                    <td>{{dat_7}}</td>
                                                    <td>{{recouvrement_7}}</td>
                                                    <td>{{renouvellement_7}}</td>
                                                    <td>{{compte_dormant__7}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Faux numéro</td>
                                                    <td>{{acquisition_8}}</td>
                                                    <td>{{commprom_8}}</td>
                                                    <td>{{dat_8}}</td>
                                                    <td>{{recouvrement_8}}</td>
                                                    <td>{{renouvellement_8}}</td>
                                                    <td>{{compte_dormant__8}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Réfléchir</td>
                                                    <td>{{acquisition_9}}</td>
                                                    <td>{{commprom_9}}</td>
                                                    <td>{{dat_9}}</td>
                                                    <td>{{recouvrement_9}}</td>
                                                    <td>{{renouvellement_9}}</td>
                                                    <td>{{compte_dormant__9}}</td>
                                                </tr>
                                                <tr style="font-weight: 900; font-size: 18px; color: green;">
                                                    <td scope="row">TOTAL</td>
                                                    <td>{{acquisition_total}}</td>
                                                    <td>{{commprom_total}}</td>
                                                    <td>{{dat_total}}</td>
                                                    <td>{{recouvrement_total}}</td>
                                                    <td>{{renouvellement_total}}</td>
                                                    <td>{{compte_dormant_total}}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                    
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!-- order-visitor end -->
            
                    <!--  sale analytics start -->
                    <div class="col-xl-6 col-md-12">
                        <div class="card table-card">
                            <div class="card-header">
                                <h5>Historique d'appels</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-trash close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table table-hover m-b-0 without-header">
                                        <tbody>
            
                                            {% for cdr in cdr_list %}
                                            <tr>
                                                <td>
                                                    <div class="d-inline-block align-middle">
                                                        <div class="d-inline-block">
                                                            <h6>{{cdr.dst}}</h6>
                                                            <p class="text-muted m-b-0">{{cdr.billsec_norm}}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <h6 class="f-w-700">
                                                        {{cdr.calldate}}
                                                        <i class="fa fa-clock-o fa-2x text-c-red m-l-10" aria-hidden="true"></i>
                                                    </h6>
                                                </td>
                                            </tr>
                                            {% endfor %}
            
            
                                        </tbody>
                                    </table>
            
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-6 col-md-12">
                        <div class="card table-card">
                            <div class="card-header">
                                <h5>Statut scripting</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-trash close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table table-hover m-b-0 without-header">
                                        <thead>
                                            <tr>
                                                <th>STATUT</th>
                                                <th>DAT</th>
                                                <th>COMMERCIALE-PROMOTION</th>
                                                <th>RECOUVREMENT</th>
                                                <th>RENOUVELLEMENT CREDIT 2</th>
                                                <th>COMPTE DORMANT</th>
                                                <th>ACQUISITION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            {% for acquisition in acquisition_list %}
                                            <tr>
                                                <td>Statuts de reporting</td>
                                                <td>Accord</td>
                                                <td>Déjà payé son crédit</td>
                                                <td>Refus</td>
                                                <td>Rappel</td>
                                                <td>Injoignable</td>
                                            </tr>
                                            {% endfor %}
                                        
                                        </tbody>
                                    </table>
                    
                                </div>
                            </div>
                        </div>
                    </div> -->
            
                    <!--  sale analytics end -->   
                </div>

                <div class="row">
                    
                </div>
            </div>
            <!-- Page-body end -->
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
    
{% endblock content %}
    