{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}


{% block content %}

    <!-- Page-header start -->
    <!-- <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Tableau de bord</h5>
                        <p class="m-b-0">Bienvenue sur votre Tableau de bord</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'dashboard:dashboard' %}"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <!-- Material statustic card start -->
                        <div class="col-xl-4 col-md-12">
                            <div class="card mat-stat-card">
                                <div class="card-block">
                                    <div class="row align-items-center b-b-default">
                                        <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                                            <div class="row align-items-center text-center">
                                                <div class="col-4 p-r-0">
                                                    <i class="bi bi-telephone-inbound text-c-green f-24"></i>
                                                </div>
                                                <div class="col-8 p-l-0">
                                                    <h5>{{cdr_answered}}</h5>
                                                    <p class="text-muted m-b-0">ANSWERED</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-b-20 p-t-20">
                                            <div class="row align-items-center text-center">
                                                <div class="col-4 p-r-0">
                                                    <i class="bi bi-telephone-outbound text-c-red f-24"></i>
                                                </div>
                                                <div class="col-8 p-l-0">
                                                    <h5>{{cdr_busy}}</h5>
                                                    <p class="text-muted m-b-0">BUSY</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                                            <div class="row align-items-center text-center">
                                                <div class="col-4 p-r-0">
                                                    <i class="bi bi-telephone-x text-c-purple f-24"></i>
                                                </div>
                                                <div class="col-8 p-l-0">
                                                    <h5>{{cdr_no_answered}}</h5>
                                                    <p class="text-muted m-b-0">NO ANSWER</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-b-20 p-t-20">
                                            <div class="row align-items-center text-center">
                                                <div class="col-4 p-r-0">
                                                    <i class="bi bi-telephone-x text-c-blue f-24"></i>
                                                </div>
                                                <div class="col-8 p-l-0">
                                                    <h5>{{cdr_congestion}}</h5>
                                                    <p class="text-muted m-b-0">CONGESTION</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="card mat-stat-card">
                                <div class="card-block">
                                    <div class="row align-items-center b-b-default">
                                        <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                                            <div class="row align-items-center text-center">
                                                <div class="col-4 p-r-0">
                                                    <i class="bi bi-telephone-plus text-c-green f-24"></i>
                                                </div>
                                                <div class="col-8 p-l-0">
                                                    <h5>{{cdr_total}}</h5>
                                                    <p class="text-muted m-b-0">TOTAL APPELS</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-b-20 p-t-20">
                                            <div class="row align-items-center text-center">
                                                <div class="col-4 p-r-0">
                                                    <i class="bi bi-people-fill text-c-green f-24"></i>
                                                </div>
                                                <div class="col-8 p-l-0">
                                                        <h5>{{ users_online }}</h5>
                                                    
                                                    <p class="text-muted m-b-0">AGENTS ONLINE</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row align-items-center">
                                        <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                                            <div class="row align-items-center text-center">
                                                <div class="col-4 p-r-0">
                                                    <i class="fas fa-signal text-c-red f-24"></i>
                                                </div>
                                                <div class="col-8 p-l-0">
                                                    <h5>0</h5>
                                                    <p class="text-muted m-b-0">IVR</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-b-20 p-t-20">
                                            <div class="row align-items-center text-center">
                                                <div class="col-4 p-r-0">
                                                    <i class="fas fa-wifi text-c-blue f-24"></i>
                                                </div>
                                                <div class="col-8 p-l-0">
                                                    <h5>100%</h5>
                                                    <p class="text-muted m-b-0">Total Agents</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="card mat-clr-stat-card text-white green ">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-3 text-center bg-c-green">
                                            <i class="bi bi-stickies-fill mat-icon f-24"></i>
                                        </div>
                                        <div class="col-9 cst-cont">
                                            <h5>{{note_nbr}}</h5>
                                            <p class="m-b-0">Notes rapides</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mat-clr-stat-card text-white blue">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-3 text-center bg-c-blue">
                                            <i class="bi bi-calendar3 mat-icon f-24"></i>
                                        </div>
                                        <div class="col-9 cst-cont">
                                            <h5>0</h5>
                                            <p class="m-b-0">Agendas</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Material statustic card end -->
                        <!-- order-visitor start -->
    
                        <div class="col-xl-12 col-md-12">
                        
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>KPI</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                            <li><i class="fa fa-trash close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover m-b-0 without-header">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="font-weight: 900;">STATUT</th>
                                                    <th scope="col" style="font-weight: 900;">ACQUISITION</th>
                                                    <th scope="col" style="font-weight: 900;">COMMERCIALE-PROMOTION</th>
                                                    <th scope="col" style="font-weight: 900;">DAT</th>
                                                    <th scope="col" style="font-weight: 900;">RECOUVREMENT</th>
                                                    <th scope="col" style="font-weight: 900;">RENOUVELLEMENT CREDIT 2</th>
                                                    <th scope="col" style="font-weight: 900;">COMPTE DORMANT</th>
                        
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Statuts de reporting</td>
                                                    <td>{{acquisition_1_user}}</td>
                                                    <td>{{commprom_1_user}}</td>
                                                    <td>{{dat_1_user}}</td>
                                                    <td>{{recouvrement_1_user}}</td>
                                                    <td>{{renouvellement_1_user}}</td>
                                                    <td>{{compte_dormant__1_user}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Accord</td>
                                                    <td>{{acquisition_2_user}}</td>
                                                    <td>{{commprom_2_user}}</td>
                                                    <td>{{dat_2_user}}</td>
                                                    <td>{{recouvrement_2_user}}</td>
                                                    <td>{{renouvellement_2_user}}</td>
                                                    <td>{{compte_dormant__2_user}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Déjà payé son crédit</td>
                                                    <td>{{acquisition_3_user}}</td>
                                                    <td>{{commprom_3_user}}</td>
                                                    <td>{{dat_3_user}}</td>
                                                    <td>{{recouvrement_3_user}}</td>
                                                    <td>{{renouvellement_3_user}}</td>
                                                    <td>{{compte_dormant__3_user}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Refus</td>
                                                    <td>{{acquisition_4_user}}</td>
                                                    <td>{{commprom_4_user}}</td>
                                                    <td>{{dat_4_user}}</td>
                                                    <td>{{recouvrement_4_user}}</td>
                                                    <td>{{renouvellement_4_user}}</td>
                                                    <td>{{compte_dormant__4_user}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Rappel</td>
                                                    <td>{{acquisition_5_user}}</td>
                                                    <td>{{commprom_5_user}}</td>
                                                    <td>{{dat_5_user}}</td>
                                                    <td>{{recouvrement_5_user}}</td>
                                                    <td>{{renouvellement_5_user}}</td>
                                                    <td>{{compte_dormant__5_user}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Injoignable</td>
                                                    <td>{{acquisition_6_user}}</td>
                                                    <td>{{commprom_6_user}}</td>
                                                    <td>{{dat_6_user}}</td>
                                                    <td>{{recouvrement_6_user}}</td>
                                                    <td>{{renouvellement_6_user}}</td>
                                                    <td>{{compte_dormant__6_user}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Absent</td>
                                                    <td>{{acquisition_7_user}}</td>
                                                    <td>{{commprom_7_user}}</td>
                                                    <td>{{dat_7_user}}</td>
                                                    <td>{{recouvrement_7_user}}</td>
                                                    <td>{{renouvellement_7_user}}</td>
                                                    <td>{{compte_dormant__7_user}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Faux numéro</td>
                                                    <td>{{acquisition_8_user}}</td>
                                                    <td>{{commprom_8_user}}</td>
                                                    <td>{{dat_8_user}}</td>
                                                    <td>{{recouvrement_8_user}}</td>
                                                    <td>{{renouvellement_8_user}}</td>
                                                    <td>{{compte_dormant__8_user}}</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" style="font-weight: 900;">Réfléchir</td>
                                                    <td>{{acquisition_9_user}}</td>
                                                    <td>{{commprom_9_user}}</td>
                                                    <td>{{dat_9_user}}</td>
                                                    <td>{{recouvrement_9_user}}</td>
                                                    <td>{{renouvellement_9_user}}</td>
                                                    <td>{{compte_dormant__9_user}}</td>
                                                </tr>
                                                <tr style="font-weight: 900; font-size: 18px; color: green;">
                                                    <td scope="row">TOTAL</td>
                                                    <td>{{acquisition_total}}</td>
                                                    <td>{{commprom_total}}</td>
                                                    <td>{{dat_total}}</td>
                                                    <td>{{recouvrement_total}}</td>
                                                    <td>{{renouvellement_total}}</td>
                                                    <td>{{compte_dormant_total}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- order-visitor end -->
    
                        <!--  sale analytics start -->
                        <div class="col-xl-6 col-md-12">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>Historique d'appels</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                            <li><i class="fa fa-trash close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover m-b-0 without-header">
                                            <tbody>
                                                
                                                {% for cdr in cdr_list %}
                                                    <tr>
                                                        <td>
                                                            <div class="d-inline-block align-middle">
                                                                <div class="d-inline-block">
                                                                    <h6>{{cdr.dst}}</h6>
                                                                    <p class="text-muted m-b-0">{{cdr.billsec_norm}}</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-inline-block align-middle">
                                                                <div class="d-inline-block">
                                                                    <h6>{{cdr.disposition}}</h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            <h6 class="f-w-700">
                                                                {{cdr.calldate}}
                                                                <i class="fa fa-clock-o fa-2x text-c-red m-l-10" aria-hidden="true"></i>
                                                            </h6>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                
                                                
                                            </tbody>
                                        </table>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-12">
                            <div class="row">
                                <!-- sale card start -->
    
                                <!-- <div class="col-md-6">
                                    <div class="card text-center order-visitor-card">
                                        <div class="card-block">
                                            <h6 class="m-b-0">Coûts Inbound</h6>
                                            <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-down m-r-15 text-c-red"></i>
                                                {{cdr_answered_cout.duration_cout_total}} FC
                                            </h4>
                                            <p class="m-b-0">Update </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card text-center order-visitor-card">
                                        <div class="card-block">
                                            <h6 class="m-b-0">Coûts Outbound</h6>
                                            <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>
                                                {{cdr_no_answer_cout.duration_cout}} FC
                                            </h4>
                                            <p class="m-b-0">Update {{cdr_no_answer_cout.calldate}}</p>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-6">
                                    <div class="card bg-c-red total-card">
                                        <div class="card-block">
                                            <div class="text-left">
                                                <h4>489</h4>
                                                <p class="m-0">Total Comment</p>
                                            </div>
                                            <span class="label bg-c-red value-badges">15%</span>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-6">
                                    <div class="card bg-c-green total-card">
                                        <div class="card-block">
                                            <div class="text-left">
                                                <h4>$5782</h4>
                                                <p class="m-0">Income Status</p>
                                            </div>
                                            <span class="label bg-c-green value-badges">20%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card text-center order-visitor-card">
                                        <div class="card-block">
                                            <h6 class="m-b-0">Unique Visitors</h6>
                                            <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-down m-r-15 text-c-red"></i>652
                                            </h4>
                                            <p class="m-b-0">36% From Last 6 Months</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card text-center order-visitor-card">
                                        <div class="card-block">
                                            <h6 class="m-b-0">Monthly Earnings</h6>
                                            <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>5963
                                            </h4>
                                            <p class="m-b-0">36% From Last 6 Months</p>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- sale card end -->
                            </div>
                        </div>
    
                        <!--  sale analytics end -->
    
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
    
{% endblock content %}
    