{% extends 'base_params.html' %}
{% load static %}

{% block title %} RECOUVREMENT {% endblock title %}


{% block param_url %}

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h6>CAMPAIGN <strong>{{recouvrement_campaign.campaignname |upper}}</strong></h6>
            <div class="row">
                <h2>APPEL DE <strong>{{recouvrement_campaign.Contact.phonenumber}}</strong></h2>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'recouvrement:recouvrement_update' recouvrement_campaign.id %}" role="button" class="btn btn-primary mr-2"
                        style="color: aliceblue;font-weight: 700;">
                        MODIFIER
                    </a>
                    <a class="btn btn-info" href="{% url 'recouvrement:export_recouvrement_pdf' recouvrement_campaign.id %}" target="_blank">
                        PDF
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class='details'>
                <p><strong>Questions 1</strong>: <br>
                    <i>Bonjour, c'est {{user.profile.sexe|lower}} <strong>{{ user.first_name|capfirst}}</strong>
                    de Advans.
                    Nous souhaiterions parler avec Mr/Mme X </i>
                    <br>
                    R/ {{recouvrement_campaign.questions1}}
                </p>
                <p><strong>Questions 2</strong>: <br>
                    <i>
                        Nous constatons que vous n'avez pas encore honoré votre remboursement. Puis-je vous inviter à vous rendre dans le point
                        de vente le plus proche.
                    </i>
                    <br>
                    R/ {{recouvrement_campaign.questions2}}
                </p>
                <p><strong>KYC</strong>: <br>
                    <i>Permettez-moi de vérifier vos coordonnées (KYC)</i> <br>
                    <i><strong>Nom</strong>: {{recouvrement_campaign.Contact.Nom}}</i> <br>
                    <i><strong>Post_Nom</strong>: {{recouvrement_campaign.Contact.Post_Nom}}</i> <br>
                    <i><strong>Prénom</strong>: {{recouvrement_campaign.Contact.Prenom}}</i> <br>
                    <i><strong>Adresse</strong>: N°{{recouvrement_campaign.Contact.Numero}} {{recouvrement_campaign.Contact.Rue}}
                        {{recouvrement_campaign.Contact.Quartier}}
                        {{recouvrement_campaign.Contact.Commune}}</i> <br>
                    <i><strong>Ville</strong>: {{recouvrement_campaign.Contact.Ville}}</i> <br>
                    <i><strong>Province</strong>: {{recouvrement_campaign.Contact.Province}}</i> <br>
                    <i><strong>Téléphone</strong>: {{recouvrement_campaign.Contact.phonenumber}}</i> <br>
                    <i><strong>Email</strong>: {{recouvrement_campaign.Contact.Email}}</i> <br>
                    <i><strong>Remarque</strong>: {{recouvrement_campaign.Contact.Remarque}}</i> <br>
                </p>
                <p><strong>Questions 4</strong>: <br>
                    <i>(GOODBYE): Nous vous remercions du temps accordé et n'hésitez pas à nous contacter au besoin</i>
                    <br>
                    R/ {{recouvrement_campaign.Statut}}
                </p>
                <p><strong>Type de trafic</strong>:
                    <br>
                    R/ {{recouvrement_campaign.Bound}}
                </p>
                <p><strong>Campaign name</strong>:
                    <br>
                    R/ {{recouvrement_campaign.campaignname}}
                </p>
                <p><strong>Remplie par l'agent</strong>: {{recouvrement_campaign.user}}</p>
            </div>
        </div>
    </div>
</div>



{% endblock param_url %}