<script type="text/javascript">
    $(document).ready(function () {
        $('#outbound').hide();
        $('#inbound').hide();
        // Traffic Bound
        $("input[name=bound]").change(function () {
            if ($("#OUTBOUND").is(':checked')) {
                $('#outbound').show();
                $('#inbound').hide();
            } else if ($("#INBOUND").is(':checked')) {
                $('#outbound').hide();
                $('#inbound').show();
            }
        });
    });


    $(document).ready(function () {
        $('#q2').hide();
        $('#q3').hide();
        $('#q4').hide();

        // Traffic OUTBOUND
        $("input[name='questions1']").click(function () {
            if ($('input:radio[qs=q1OUI]').is(':checked')) {
                $('#q2').show();
            } else if ($('input:radio[qs=q1NON]').is(':checked')) {
                $('#q2').hide();
                $('#q3').hide();
                $('#q4').show();
            }
        });

        $("input[name='questions2']").click(function () {
            if ($('input:radio[qs=q2OUI]').is(':checked')) {
                $('#q3').show();
                $('#q4').show();
            } else if ($('input:radio[qs=q2NON]').is(':checked')) {
                $('#q3').hide();
                $('#q4').show();
            }
        });
    });

    $(document).ready(function () {
        $('#qb2').hide();
        $('#qb3').hide();
        $('#qb4').hide();

        // Traffic OUTBOUND
        $("input[name='questions1']").click(function () {
            if ($('input:radio[qin=qb1OUI]').is(':checked')) {
                $('#qb2').show();
            } else if ($('input:radio[qin=qb1NON]').is(':checked')) {
                $('#qb2').hide();
                $('#qb3').hide();
                $('#qb4').show();
            }
        });

        $("input[name='questions2']").click(function () {
            if ($('input:radio[qin=qb2OUI]').is(':checked')) {
                $('#qb3').show();
                $('#qb4').show();
            } else if ($('input:radio[qin=qb2NON]').is(':checked')) {
                $('#qb3').hide();
                $('#qb4').show();
            }
        });
    });

    
    // Get DOM Elements
        const modal = document.querySelector('#my-modal');
        const modalBtn = document.querySelector('#modal-btn');
        const closeBtn = document.querySelector('#close');

        // Events
        modalBtn.addEventListener('click', openModal);
        closeBtn.addEventListener('click', closeModal);
        window.addEventListener('click', outsideClick);

        // Open
        function openModal() {
            modal.style.display = 'block';
        }

        // Close
        function closeModal() {
            modal.style.display = 'none';
        }

        // Close If Outside Click
        function outsideClick(e) {
            if (e.target == modal) {
                modal.style.display = 'none';
            }
        }



        $(document).ready(function () {
            $('#contact-form').submit(function (e) {
                e.preventDefault();
                var formData = {
                    'Nom': $('#Nom').val(),
                    'Post_Nom': $('#Post_Nom').val(),
                    'Prenom': $('#Prenom').val(),
                    'Numero': $('#Numero').val(),
                    'Rue': $('#Rue').val(),
                    'Quartier': $('#Quartier').val(),
                    'Commune': $('#Commune').val(),
                    'Ville': $('#Ville').val(),
                    'Province': $('#Province').val(),
                    'Tel1': $('#Tel1').val(),
                    'Tel2': $('#Tel2').val(),
                    'Tel3': $('#Tel3').val(),
                    'Email': $('#Email').val(),
                    'Website': $('#Website').val(),
                    'Facebook': $('#Facebook').val(),
                    'Instagram': $('#Instagram').val(),
                    'Twitter': $('#Twitter').val(),
                    'LinkedIn': $('#LinkedIn').val(),
                    'Remarque': $('#Remarque').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    contentType: 'application/x-www-form-urlencoded',
                    encode: true,
                };
                $.ajax({
                    type: 'POST',
                    url: "{% url 'commprom:commprom_add' %}",
                    data: formData,
                    dataType: 'json',
                }).done(function (data) {
                    // console.log(formData);
                    $("#contact-form").trigger("reset");
                    // console.log(data)


                    $('#kycContact').each(function () {
                        setTimeout(10000);
                    });
                });



                // e.preventDefault();
            });
        });



    // function refresh() {
    //     $.ajax({
    //         url: "{% url 'dat:dat_add' %}",
    //         success: function (data) {
    //             $('#kycContact').html(data);
    //             setTimeout(refresh, 10000);
    //         }

    //     });
    // }

</script>