
<script type="text/javascript">
    $(document).ready(function () {
        $('#outbound').hide();
        $('#inbound').hide();
        // Traffic Bound
        $("input[name=bound]").change(function () {
            if ($("#OUTBOUND").is(':checked')) {
                $('#outbound').show();
                $('#inbound').hide();
            } else if ($("#INBOUND").is(':checked')) {
                $('#outbound').hide();
                $('#inbound').show();
            }
        });
    });


    $(document).ready(function() {
        $('#q2').hide();
        $('#q3').hide();
        $('#q4').hide();

        // Traffic OUTBOUND
        $("input[name='questions1']").click(function () {
            if ($('input:radio[qs=q1OUI]').is(':checked')) {
                $('#q2').show();
            } else if ($('input:radio[qs=q1NON]').is(':checked')) {
                $('#q2').hide();
                $('#q3').hide();
                $('#q4').show();
            }
        });

        $("input[name='questions2']").click(function () {
            if ($('input:radio[qs=q2OUI]').is(':checked')) {
                $('#q3').show();
                $('#q4').show();
            } else if ($('input:radio[qs=q2NON]').is(':checked')) {
                $('#q3').hide();
                $('#q4').show();
            }
        });
    });

    $(document).ready(function () {
            $('#qb2').hide();
            $('#qb3').hide();
            $('#qb4').hide();

            // Traffic OUTBOUND
            $("input[name='questions1']").click(function () {
                if ($('input:radio[qin=qb1OUI]').is(':checked')) {
                    $('#qb2').show();
                } else if ($('input:radio[qin=qb1NON]').is(':checked')) {
                    $('#qb2').hide();
                    $('#qb3').hide();
                    $('#qb4').show();
                }
            });

            $("input[name='questions2']").click(function () {
                if ($('input:radio[qin=qb2OUI]').is(':checked')) {
                    $('#qb3').show();
                    $('#qb4').show();
                } else if ($('input:radio[qin=qb2NON]').is(':checked')) {
                    $('#qb3').hide();
                    $('#qb4').show();
                }
            });
        });


    // Get DOM Elements
    const modal = document.querySelector('#my-modal');
    const modalBtn = document.querySelector('#modal-btn');
    const closeBtn = document.querySelector('.close');

    // Events
    modalBtn.addEventListener('click', openModal);
    closeBtn.addEventListener('click', closeModal);
    window.addEventListener('click', outsideClick);

    // Open
    function openModal() {
        modal.style.display = 'block';
    }

    // Close
    function closeModal() {
        modal.style.display = 'none';
    }

    // Close If Outside Click
    function outsideClick(e) {
        if (e.target == modal) {
            modal.style.display = 'none';
        }
    }



    $(document).ready(function () {
        $('#contact-form').submit(function (event) {
            var Nom = $('#Nom').val();
            var Post_Nom = $('#Post_Nom').val();
            var Prenom = $('#Prenom').val();
            var Numero = $('#Numero').val();
            var Rue = $('#Rue').val();
            var Quartier = $('#Quartier').val();
            var Commune = $('#Commune').val();
            var Ville = $('#Ville').val();
            var Province = $('#Province').val();
            var Tel1 = $('#Tel1').val();
            var Tel2 = $('#Tel2').val();
            var Tel3 = $('#Tel3').val();
            var Email = $('#Email').val();
            var Website = $('#Website').val();
            var Facebook = $('#Facebook').val();
            var Instagram = $('#Instagram').val();
            var Twitter = $('#Twitter').val();
            var LinkedIn = $('#LinkedIn').val();
            var Remarque = $('#Remarque').val();
            $.ajax({
                type: 'POST',
                url: "{% url 'dat:dat_add' %}",
                data: {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'Nom': Nom,
                    'Post_Nom': Post_Nom,
                    'Prenom': Prenom,
                    'Numero': Numero,
                    'Rue': Rue,
                    'Quartier': Quartier,
                    'Commune': Commune,
                    'Ville': Ville,
                    'Province': Province,
                    'Tel1': Tel1,
                    'Tel2': Tel2,
                    'Tel3': Tel3,
                    'Email': Email,
                    'Website': Website,
                    'Facebook': Facebook,
                    'Instagram': Instagram,
                    'Twitter': Twitter,
                    'LinkedIn': LinkedIn,
                    'Remarque': Remarque,
                },
                dataType: 'json',
                encode: true,
            })

            console.log(data)
                

            event.preventDefault();
        });
    });



    // function refresh() {
    //     $.ajax({
    //         url: "{% url 'dat:dat_add' %}",
    //         success: function (data) {
    //             $('#test').html(data);
    //             setTimeout(refresh, 10000);
    //         }

    //     });
    // }

    // $(function () {
    //     refresh();
    // });
</script>


