{% extends 'base.html' %}
{% load static %}

{% block title %} DAT {% endblock title %}


{% block content %}


<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5>SCRIPTING DAT</h5>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="form-group">
                            <div class="form-check col">
                                <div class="pl-4">
                                    <label class="radio-inline mr-3">
                                        <input type="radio" id="OUTBOUND" name="bound" value="OUTBOUND">
                                        OUTBOUND
                                    </label>
                                    <label class="radio-inline mr-3">
                                        <input type="radio" id="INBOUND" name="bound" value="INBOUND">
                                        INBOUND
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="outbound">
                <div class="card">
                    <div class="card-header">
                        <h5>SCRIPTING DAT OUTBOUND</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <form action="{% url 'dat:dat_add' %}" method="POST" enctype="multipart/form-data" class="form-material">
                                {% csrf_token %}
                                <div class="pb-4" id="q1">
                                    <h5>Question 1</h5>
                                    <div class="form-group">
                                        <div class="form-check col">
                                            <p>
                                                Bonjour, c'est {{user.profile.sexe|lower}} <strong>{{ user.first_name | capfirst}}</strong> de Advans.
                                                Nous souhaiterions parler avec Mr/Mme X
                                            </p>
                                            <div class="pl-4">
                                                <label for="questions1OUI" class="radio-inline mr-3">
                                                    <input type="radio" qs=q1OUI id="questions1OUI" name="questions1" value="OUI"> OUI
                                                </label>
                                                <label for="questions1NON" class="radio-inline mr-3">
                                                    <input type="radio" qs=q1NON id="questions1NON" name="questions1" value="NON"> NON
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pb-4" id="q2">
                                    <h5>Question 2</h5>
                                    <div class="form-group">
                                        <div class="form-check col">
                                            <p>
                                                Nous constatons que vous n'avez pas encore renouvelé votre DAT alors que nous avons une campagne de promotion en cours.
                                                Puis-je suggérer de fixer un rendez-vous avec notre commercial pour reconduire votre DAT ?
                                            </p>
                                            <div class="pl-4">
                                                <label for="questions2OUI" class="radio-inline mr-3">
                                                    <input type="radio" qs=q2OUI id="questions2OUI" name="questions2" value="OUI"> OUI
                                                </label>
                                                <label for="questions2NON" class="radio-inline mr-3">
                                                    <input type="radio" qs=q2NON id="questions2NON" name="questions2" value="NON"> NON
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="script pb-4" id="q3">
                                    <h5>Question 3</h5>
                                    <div class="form-group">
                                        <div class="form-check col">
                                            <p>
                                                Permettez-moi de vérifier vos coordonnées (KYC)
                                            </p>
                                            <div class="container">
                                            
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group form-default">
                                                            <!-- <label class="col col-form-label">Selectionnez le Contact</label> -->
                                                            {{form.Contact}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div id="modal-btn" class="button">
                                                            <i class="bi bi-plus"></i>
                                                            Nouveau Contact
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pb-4" id="q4">
                                    <h5>Question 4</h5>
                                    <div class="form-group">
                                        <div class="form-check col">
                                            <p>
                                                (GOODBYE): Nous vous remercions du temps accordé et n'hésitez pas à nous contacter au besoin
                                            </p>
                                            <div class="pl-4">
                                                <div class="form-group form-default">
                                                    <label class="col col-form-label">Statut</label>
                                                    {{form.Statut}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-4" id="out">
                                    <input type="text" hidden='true' id="Bound" name="Bound" class="form-control" placeholder="Bound" value="OUTBOUND">
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Soumettre</button>
                            </form>
                            
                        </div>
                    </div>
                </div> 
            </div>
            
            <div id="inbound">
                <div class="card">
                    <div class="card-header">
                        <h5 style="color: rgb(255, 166, 0);">SCRIPTING DAT INTBOUND</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <form action="{% url 'dat:dat_add' %}" method="POST" enctype="multipart/form-data" class="form-material">
                                {% csrf_token %}
                                <div class="pb-4" id="qb1">
                                    <h5>Question 1</h5>
                                    <div class="form-group">
                                        <div class="form-check col">
                                            <p style="color: darkslateblue;">
                                                CUSTOMER/CLIENT 1: Bonjour, c'est Mr/Mme X, suis-je bien chez ADVANS ?
                                            </p>
                                            <div class="pl-4">
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" qin=qb1OUI id="questions1" name="questions1" value="OUI">
                                                    OUI
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" qin=qb1NON id="questions1" name="questions1" value="NON">
                                                    NON
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="pb-4" id="qb2">
                                    <h5>Question 2</h5>
                                    <div class="form-group">
                                        <div class="form-check col">
                                            <p style="color: darkslateblue;">
                                                CUSTOMER/CLIENT 2: Je souhaite reconduire/souscrire au DAT.
                                            </p>
                                            <p>
                                                Puis-je verifier vos coordonnées ?
                                            </p>
                                            <div class="pl-4">
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" qin=qb2OUI id="questions2" name="questions2" value="OUI"> OUI
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" qin=qb2NON id="questions2" name="questions2" value="NON"> NON
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="script pb-4" id="qb3">
                                    <h5>Question 3</h5>
                                    <div class="form-group">
                                        <div class="form-check col">
                                            <p>
                                                Permettez-moi de vérifier vos coordonnées (KYC)
                                            </p>
                                            <div class="container">
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group form-default">
                                                            <!-- <label class="col col-form-label">Selectionnez le Contact</label> -->
                                                            {{form.Contact}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                
                                                        <div id="modal-btn" class="button">
                                                            <i class="bi bi-plus"></i>
                                                            Nouveau Contact
                                                        </div>
                                                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="pb-4" id="qb4">
                                    <h5>Question 4</h5>
                                    <div class="form-group">
                                        <div class="form-check col">
                                            <p>
                                                (GOODBYE): Nous vous remercions du temps accordé et n'hésitez pas à nous contacter au besoin
                                            </p>
                                            <div class="pl-4">
                                                <div class="form-group form-default">
                                                    <label class="col col-form-label">Statut</label>
                                                    {{form.Statut}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-4" id="in">
                                    <input type="text" hidden='true' id="Bound" name="Bound" class="form-control" placeholder="Bound"
                                        value="INBOUND">
                                </div>
                                <button type="submit" class="btn btn-primary">Soumettre</button>
                            </form>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="my-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Nouveau contact</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="form-row">
                            <form action="{% url 'dat:dat_add' %}" method="POST" id="contact-form" enctype="multipart/form-data" class="form-material">
                                {% csrf_token %}

                                <div class="container">
                                    <div class="pl-4">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <input type="text" id="Nom" name="Nom" class="form-control" placeholder="Nom">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <input type="text" id="Post_Nom" name="Post_Nom" class="form-control" placeholder="Post Nom">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <input type="text" id="Prenom" name="Prenom" class="form-control" placeholder="Prénom">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <input type="text" id="Numero" name="Numero" class="form-control" placeholder="N°">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="text" id="Rue" name="Rue" class="form-control" placeholder="Rue">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="text" id="Quartier" name="Quartier" class="form-control" placeholder="Quartier">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="text" id="Commune" name="Commune" class="form-control" placeholder="Commune">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input type="text" id="Ville" name="Ville" class="form-control" placeholder="Ville">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Province</label>
                                                {{formContact.Province}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <input type="text" id="Tel1" name="Tel1" class="form-control" placeholder="Téléphone">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <input type="text" id="Tel2" name="Tel2" class="form-control" placeholder="Téléphone 2">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <input type="text" id="Tel3" name="Tel3" class="form-control" placeholder="Téléphone 3">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input type="email" id="Email" name="Email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" id="Website" name="Website" class="form-control" placeholder="Website">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <input type="text" id="Facebook" name="Facebook" class="form-control" placeholder="Facebook">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="text" id="Instagram" name="Instagram" class="form-control" placeholder="Instagram">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="text" id="Twitter" name="Twitter" class="form-control" placeholder="Twitter">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="text" id="LinkedIn" name="LinkedIn" class="form-control" placeholder="LinkedIn">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <input type="text" id="Remarque" name="Remarque" class="form-control" placeholder="Remarque">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <button class="btn btn-primary btn-block" type="submit">Submit &nbsp;&nbsp;&nbsp;<span></span></button>
                                        <!-- <input type="submit" class="close" value="Soumettre"> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>

        <!-- Page body end -->
    </div>
</div>
<!-- Main-body end -->
<div id="styleSelector"></div>

<script src="{% static 'js/jquery.js' %}"></script>
{% include 'pages/dat/dat_js.html' %}

{% endblock content %}


