{% load static %}

<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-80 img-radius" src="{{user.profile.profile_picture.url}}" height="60px" >
                <div class="user-details">
                    <span id="more-details">{{user.profile.role}} <{{user.username}}><i class="fa fa-caret-down"></i></span>
                </div>
            </div>
            <div class="main-menu-content">
                <ul>
                    <li class="more-details">
                        <a href="{% url 'profile' %}"><i class="ti-user"></i>View Profile</a>
                        <a href="#!"><i class="ti-settings"></i>Settings</a>
                        <a href="{% url 'logout' %}"><i class="ti-layout-sidebar-left"></i>Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="p-15 p-b-0">
            <!-- <form class="form-material">
                <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control">
                    <span class="form-bar"></span>
                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search Friend</label>
                </div>
            </form> -->
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="pcoded-navigation-label">Navigation</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="{% if url_name == 'dashboard' %}active{% endif %}">
                    <a href="{% url 'dashboard:dashboard' %}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                        <span class="pcoded-mtext">Dashboard</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class="{% if url_name == 'dashboard_admin_view' %}active{% endif %}">
                    <a href="{% url 'dashboard:dashboard_admin_view' %}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="bi bi-graph-up"></i><b>DA</b></span>
                        <span class="pcoded-mtext">Dashboard Admin</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                {% if request.user.is_Staff == True %}
                    <li class="{% if url_name == 'dashboard_admin_view' %}active{% endif %}">
                        <a href="{% url 'dashboard:dashboard_admin_view' %}" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-home"></i><b>DA</b></span>
                            <span class="pcoded-mtext">Dashboard Admin</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                {% endif%}
            </ul>
            <div class="pcoded-navigation-label">Forms</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="{% if url_name == 'scripting_forms' %}active{% endif %}">
                    <a href="{% url 'forms:scripting_forms' %}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Scripting</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
            <ul class="pcoded-item pcoded-left-item">
                <li class="{% if url_name == 'contact_view' %}active{% endif %}">
                    <a href="{% url 'forms:contact_view' %}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="bi bi-person-lines-fill"></i></span>
                        <span class="pcoded-mtext">Contacts</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
            
            <div class="pcoded-navigation-label">Tables</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="{% if url_name == 'scripting_list' %}active{% endif %}">
                    <a href="{% url 'forms:scripting_list' %}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-receipt"></i><b>S</b></span>
                        <span class="pcoded-mtext">Scripting list</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
            <ul class="pcoded-item pcoded-left-item">
                <li class="{% if url_name == 'cdr_view' %}active{% endif %}">
                    <a href="{% url 'pbx:cdr_view' %}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-receipt"></i><b>C</b></span>
                        <span class="pcoded-mtext">Détails d'appels</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
            <ul class="pcoded-item pcoded-left-item">
                <li class="{% if url_name == 'cel_view' %}active{% endif %}">
                    <a href="{% url 'pbx:cel_view' %}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="fa fa-leaf" aria-hidden="true"></i><b>E</b></span>
                        <span class="pcoded-mtext">Evennements d'appels</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
        {% endwith %}
    </div>
</nav>